name: Build zqa
permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: blacksmith-8vcpu-ubuntu-2404

    steps:
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@1.91.0

    - name: Dependencies
      run: sudo apt install protobuf-compiler

    - uses: rui314/setup-mold@v1

    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}

    - name: Run tests
      run: RUST_BACKTRACE=1 cargo test -p zqa --verbose -- --nocapture --test-threads=1
      env:
        ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_KEY }}
        VOYAGE_AI_API_KEY: ${{ secrets.VOYAGE_AI_API_KEY }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
        OPENROUTER_MODEL: google/gemini-2.5-flash
        ANTHROPIC_MODEL: claude-haiku-4-5-20251001
        OPENAI_EMBEDDING_MODEL: text-embedding-3-small
        MAX_CONCURRENT_REQUESTS: 5
