name: Check Inter-Crate Dependencies

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "master" ]

jobs:
  check-inter-crate-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Check invalid inter-crate deps
        run: |
          if cargo tree -p zqa-pdftools --invert | grep -qE "^zqa-rag"; then
            echo "Error: 'zqa-pdftools' crate has a dependency on 'zqa-rag'"
            exit 1
          fi
