name: Check Unwanted Dependencies

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  check-inter-crate-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Check for circular dependencies
        run: |
          if cargo tree -p zqa-rag --invert | grep -qE "^zqa-pdftools"; then
            echo "Error: 'zqa-rag' crate has a dependency on 'zqa-pdftools'"
            exit 1
          fi
          if cargo tree -p zqa-pdftools --invert | grep -qE "^zqa-rag"; then
            echo "Error: 'zqa-pdftools' crate has a dependency on 'zqa-rag'"
            exit 1
          fi
